.login
  = link_to root_path, class: "" do
    %h2 HomeLife
  %h4.formname Create User
  = render "devise/shared/links"

  .login-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        .field-label
          = f.label :name
        .field-input
          = f.text_field :name, autofocus: true
      .field
        .field-label
          = f.label :email
        .field-input
          = f.email_field :email
      .field
        .field-label
          = f.label :password
        .field-input
          = f.password_field :password, autocomplete: "off"
      .field
        .field-label
          = f.label :password_confirmation, class: "fieldpoint"
        .field-input
          = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "Create User", class: 'btn'


  %a.forgot{href: "#", class: "linkname"} Already have an user_account?
  %h6 (Passwordは英数字8文字以上)