.wrapper
  = form_for [@home] do |f|
    .bodynew
      .add-home__header
        = link_to root_path, class: "buy-home__header--logo" do
          -# = image_tag "fmarket_logo_red.svg", class: "buy-homes__header--logo", alt:"logo"
      .add-home__main
      
        .add-home__main--top
        
          =link_to root_path, class: "newpost" do
            Home Life
        
        .add-home__main--bottom
          .add-home__main--bottom--image
            .upload__text
              %h3.form-top
                写真をアップロード
                .form-require
                  %span 必須
              .upload__text--text
                最大6枚までアップロードできます

              .upload__image
                .previews
                  - if @home.persisted?
                    - @home.images.each_with_index do |image, i|
                      = image_tag image.url.url, data: { index: i }, width: "100", height: '64'
                =f.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.label :url, class: "upload__image--icon", type: "file" do
                      = icon('fas', 'image', class: "upload__image--icon--i")
                      = image.file_field :url
                    .js-remove{style: "width: 50px;"} 削除
                  -if @home.persisted?
                    =image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                - if @home.persisted?
                  .js-file_group{"data-index" => "#{@home.images.count}"}
                    = f.label :url, name: "home[images_attributes][#{@home.images.count}][url]", for: "url", class: "upload__image--icon", type: "file" do
                      = icon('fas', 'image', class: "upload__image--icon--i")
                      = file_field_tag :url, name: "home[images_attributes][#{@home.images.count}][url]", style: "display: none;"
                    .js-remove{style: "width: 50px;"} 削除

          .add-home__main--bottom--name
            .add-home__main--bottom--name__name

            .add-home__main--bottom--name__text
              %h5.form-top
                情報入力
                .form-require
                  %span 必須
              = f.text_area :text, class: 'textarea-de', placeholder: "皆さんのライフスタイルでの情報など共有してみよう！（マイホームだったら、デザイン性や機能性で気を付けたこと、後悔など）", :rows => "5", :maxlength => "100"
              %span#text-count
                あと
                %span#num 100
                文字
          .add-home__main--bottom--btn
            %ul.add-home__main--bottom--btn__ul
              %li.add-home__main--bottom--btn__ul__red
              %li.add-home__main--bottom--btn__ul__ora
              %li.add-home__main--bottom--btn__ul__gre
              %li.add-home__main--bottom--btn__ul__blu
            .add-home__main--bottom--btn__box
              = f.submit '編集する', class: 'add-home__main--bottom--btn__box__red-btn'
              = link_to :back, class: "add-home__main--bottom--btn__box__gray-btn" do
                もどる
      .add-home__footer
        .add-home__footer__list
        = link_to root_path, class: "buy-home__footer__logo" do
          -# = image_tag "logo_gray.svg", class: ".buy-home__footer__logo"
        .add-home__footer__text
          © 2020~ Takei_Kazaki, Inc.
