.immain_home
  .immain_center
    .immain_center--image
      %p.imtop
        Images
      %h3.imdown
        Homes Bot
  .immain_middle
    .immain_middle--box
      %ul.immain_middle--box--ul
        - @home.each do |home|
          %li.immain_middle--box--ul--li
            .immain_middle--box--ul--li--link
              .immain_middle--box--ul--li--link--content
                = link_to home_path(home), class: "immain_middle--box--ul--li--link--content--a" do
                  .immain_middle--box--ul--li--link--content--a--top
                    %span.immain_middle--box--ul--li--link--content--a--top--name
                      @ #{home.user.name}
                    %span.immain_middle--box--ul--li--link--content--a--top--like
                      いいね
                      = icon('far', 'heart', class: "line__newbtn__li__image--icon")
                  .immain_middle--box--ul--li--link--content--a--text
                    = home.text
                .immain_middle--box--ul--li--link--content--photo
                  - home.images.first(5).each do |image|
                    .immain_middle--box--ul--li--link--content--photo--box
                      = image_tag "#{image.url}", class: "immain_middle--box--ul--li--link--content--photo--box--subimg", alt:"logo"

                  .immain_middle--box--ul--li--link--content--photo--top
                    - home.images.first(1).each do |image|
                      = image_tag "#{image.url}", class: "immain_middle--box--ul--li--link--content--photo--top--mainimg", alt:"logo"

