.immain_home
  .immain_center
    .immain_center--image
      %p.imtop
        Images
      %h3.imdown
        Post List
  .immain_middle
    .immain_middle--box
      %ul.immain_middle--box--ul
        - @home.each do |home|
          %li.immain_middle--box--ul--li
            .immain_middle--box--ul--li--link
              .immain_middle--box--ul--li--link--content
                .immain_middle--box--ul--li--link--content--top
                  %span.immain_middle--box--ul--li--link--content--top--name
                    @ #{home.user.name}
                  %span.immain_middle--box--ul--li--link--content--top--like
                    = icon('fas', 'heart', class: "immain_middle--box--ul--li--link--content--top--like--icon")
                    = home.liked_users.count
                = link_to home_path(home), class: "immain_middle--box--ul--li--link--content--a" do
                  .immain_middle--box--ul--li--link--content--a--text
                    %p= safe_join(home.text.split("\n"), tag(:br))
                    %span.text-btn
                .immain_middle--box--ul--li--link--content--photo
                  .immain_middle--box--ul--li--link--content--photo--box
                    - home.images.first(5).each do |image|
                      = image_tag "#{image.url}", class: "immain_middle--box--ul--li--link--content--photo--box--subimg", alt:"logo", id: "#{image.home.id}"

                  .immain_middle--box--ul--li--link--content--photo--top
                    - home.images.first(1).each do |image|
                      = image_tag "#{image.url}", class: "immain_middle--box--ul--li--link--content--photo--top--mainimg", alt:"logo", id: "#{image.home.id}"